footer {
  background-color: #f7f7f7;
  padding: 60px 0px;
}

footer .headline {
  width: 100%;
  text-align: center;
  font-family: 'Milliard ExtraBold';
  margin-bottom: 52px;
  color: black;
}

footer .small-headline {
  color: black;
  margin-bottom: 50px;
  font-family: 'Milliard SemiBold';
}

footer .green {
  font-family: 'Milliard ExtraBold';
  color: #769904;
}

footer .text {
  color: black;
}

.icon-container {
  margin-bottom: 18px;
}

footer .location {
  width: 35px;
  height: 35px;
  background-image: url('../../img/location.png');
  margin-right: 20px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

footer .clock {
  width: 35px;
  height: 35px;
  background-image: url('../../img/clock.png');
  margin-right: 20px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

footer .whatsapp {
  width: 35px;
  height: 35px;
  background-image: url('../../img/whatsapp.png');
  margin-right: 20px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

footer .pedro-bulevard {
  width: 50%;
  height: 380px;
  background-image: url('../../img/pedro-bulevard.png');
  margin-right: 60px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}