/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700'); */
@import "cssreset.css";
@import "sections/problem-section.css";
@import "sections/imagine-section.css";
@import "sections/why-section.css";
@import "sections/details-section.css";
@import "sections/story-section.css";
@import "sections/how-section.css";
@import "sections/massage-section.css";
@import "sections/offer-section.css";
@import "fonts/style.css";
@import "footer-section.css";
@import "utils.css";

:root {
  --main-red: #c82a2a;
  --light-green: #98b40b;
  --dark-green: #608800;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Milliard Book';
  font-weight:normal;
  color: white;
}

body {
  font-family: 'Milliard Book';
}

.programare-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  font-family: 'Milliard SemiBold';
  border-radius: 25px;
  background-color: var(--main-red);
  user-select: none;
}

.poza-overlay {
  background-image: url('../img/pedro-over.png');
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  right: -200px;
  bottom: 0;
  width: 700px;
  height: 70%;
  
  /* background-size: cover; */
}

.poza-pedro-main {
  background-image: url('../img/pedro-over.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.8)) , url('../img/header-background-masaj.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 870px; */
  padding-top: 30px;
  margin-bottom: 80px;
}

/* .container {
  max-width: 1270px;
  margin: 0 auto;
} */
.light {
  font-family: 'Milliard Light';
}

.bold {
  font-family: 'Milliard Bold';
}

#header{
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}
#header .header-upper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
#header .header-bottom {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
}
#header .header-description-container {
  max-width: 840px;
  display: flex;
  flex-direction: column;
}
#header .headline {
  font-family: 'Milliard ExtraBold';
}

#header .headline-small {
  max-width: 700px;
  margin-bottom: 32px;
  font-family: 'Milliard ExtraBold';
}

#header .details {
  margin-bottom: 40px;
  max-width: 600px;
  font-family: 'Milliard Light';
}

#header .logo{
  margin-left: 40px;
  width: 100px;
  height: 120px;
  transform:scale(3.0);
  /* background-image: url('../img/Logosvg.svg'); */
  /* background-position: top center;
  background-repeat: no-repeat; */
  /* background-size: cover; */
}
#header .header-text{
}

@media only screen and (max-width: 960px) {
  /* .container{ 
    width: 100%;
    padding: 0px 25px;
  } */
  .header-text {
    display: none !important;
  }
  #header .header-upper {
    justify-content: center;
  }
  #header .logo{
    margin-left: 0px;
  }

  #header .headline {
    font-family: 'Milliard ExtraBold';
  }
  
  #header .headline-small {
    max-width: 700px;
    margin-bottom: 32px;
    font-family: 'Milliard ExtraBold';
  }
}
/* Phones */
@media only screen and (max-width: 767px){
  /* .container{ 
    width: 100%;
    padding: 0px 25px;
  } */
  #header .header-upper {
    justify-content: center;
  }
  #header .logo{
    margin-left: 0px;
  }

  #header .headline {
    font-family: 'Milliard ExtraBold';
  }
  
  #header .headline-small {
    max-width: 700px;
    margin-bottom: 32px;
    font-family: 'Milliard ExtraBold';
  }
  #header .header-menu{
    display: none;
  }
  #header .menu-btn{
    display: flex;

  }
  #header .logo{
    font-size: 1.3rem;
  }
  .mobile-menu{
    display: flex;
  }
}
