#details-section {
}

#details-section .pedro-balcon {
  background: url('../../img/pedro-balcon.png');
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#details-section .left-side {
  flex: 1;
  margin-right: 30px;
}

#details-section .right-side {
  flex: 1;
}

#details-section .red-circle {
  width: 15px;
  height: 15px;
  background-color: var(--main-red);
  border-radius: 25px;
  margin-right: 16px;
}

#details-section .top-left {
  margin-bottom: 60px;
}

#details-section .bottom-left {
  margin-bottom: 30px;
}

#details-section .headline {
  font-family: 'Milliard ExtraBold';
  margin-bottom: 30px;
}

#details-section .idea-container {
  max-width: 130px;
}

#details-section .idea-row {
  margin-bottom: 40px;
}

#details-section .text {
  font-family: 'Milliard Medium';
  color: black;
  margin-bottom: 30px;
  padding-bottom: 2px;
  flex: 1;
}
