#details-section {
  margin-bottom: 100px;
}


/* Tablets */
@media only screen and (max-width: 960px){
  #experience-section .large-title{
    font-size: 3rem;
    left: 0;
  }
  #experience-section .experience-container .large-icons{
    position: relative;
    top: -25px;
  }

  #experience-section .experience-container .large-icons .square {
    border: 30px solid #52b8ff;
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 122px;
    left: 48px;
  }
}
/* Phones */
@media only screen and (max-width: 767px){
  #experience-section .large-title{
    font-size: 2.5rem;
    left: 0;
  }

  #experience-section .experience-container{
    grid-template-columns: 1fr;
  }
  #experience-section .experience-container .large-icons{
    display: none;
  }
  #experience-section .experience-container .info .info-box h4{
    font-size: .9rem;
  }
  #experience-section .experience-container .info .info-box .date{
    font-size: .8rem;
  }
}
