#how-section {
  margin-bottom: 100px;
}

#how-section .hand-towel {
  background: url('../../img/hand-towel.png');
  height: 525px;
  margin-right: 40px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#how-section .headline {
  font-family: 'Milliard ExtraBold';
  color: black;
  margin-bottom: 50px;
}

#how-section .text {
  color: black;
  margin-bottom: 40px;
}
