#massage-section {
  margin-bottom: 100px;
}

#massage-section .pedro-masaj-spate {
  background: url('../../img/pedro-masaj-spate.png');
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#massage-section .pedro-masaj-stomac {
  background: url('../../img/pedro-masaj-stomac.png');
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#massage-section .headline {
  font-family: 'Milliard ExtraBold';
  margin-bottom: 30px;
}

#massage-section .small-headline {
  font-family: 'Milliard SemiBold';
  margin-bottom: 30px;
  color: black;
}

#massage-section .idea-container {
  max-width: 130px;
}

#massage-section .idea-row {
  margin-bottom: 40px;
}

#massage-section .text {
  font-family: 'Milliard Medium';
  color: black;
  margin-bottom: 30px;
  padding-bottom: 2px;
  flex: 1;
}
