#problem-section {
  margin-bottom: 80px;
}

#problem-section .headline {
  margin-bottom: 12px;
  font-family: 'Milliard ExtraBold';
}

#problem-section .headline-small {
  max-width: 700px;
  margin-bottom: 42px;
  font-family: 'Milliard ExtraBold';
}

#problem-section .details {
  /* margin-bottom: 40px; */
  max-width: 600px;
  font-family: 'Milliard Light';
}

.stressed-woman {
  /* width: 480px;
  height: 408px; */
  background-image: url('../../img/stressed-woman.png');
  /* background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.stressed-woman-chair {
  /* width: 526px;
  height: 350px; */
  background-image: url('../../img/stressed-woman-chair.png');
  /* background-position: top center;
  background-repeat: no-repeat;
  background-size: contain; */
}
