#story-section{
 position: relative;
 margin-bottom: 80px;
}

#story-section .headline {
  font-family: 'Milliard ExtraBold';
}

#story-section .details {
  margin-bottom: 40px;
  font-family: 'Milliard Light';
}

.over-text {
  transform: translateY(20px);
  width: 50%;
}

.masaj-story {
  width: 70%;
  height: 600px;
  margin-bottom: 36px;
  background-image: url('../../img/masaj-story.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Tablets */
@media only screen and (max-width: 960px){
  #blog-section .blog-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 588px 588px 588px;
    grid-gap: 15px;
    overflow: hidden;
  }
}
/* Phones */
@media only screen and (max-width: 767px){
  #blog-section .title h1{
    font-size: 3rem;
  }
  #blog-section .blog-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 400px 400px 400px 400px;
    grid-gap: 15px;
    overflow: hidden;
  }
}
