#why-section {
}

#why-section .bg {
  padding: 40px 0px;
}


#why-section .headline {
  margin-bottom: 40px;
  font-family: 'Milliard ExtraBold';
}

#why-section .details {
  margin-bottom: 32px;
  font-family: 'Milliard Light';
}